<h1>Datenschutz</h1>

<strong>Datenschutzerklärung</strong>

<strong>Geltungsbereich</strong>

Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten durch den verantwortlichen Anbieter

Sammy Zimmermanns
Waldheimer Str. 16a
01159 Dresden
info@nternet-pr-beratung.de
+49 351 / 332 770 22

auf dieser Website (im folgenden “Angebot”) auf.

Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).

<h2>Zugriffsdaten/ Server-Logfiles</h2>

<p>Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören:

Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.

Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes. Der Anbieterbehält sich jedoch vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</p>

<h2>Umgang mit personenbezogenen Daten</h2>

<p>Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem angesehen wurden zählen zu personenbezogenen Daten.

Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.</p>

<h2>Kontaktaufnahme</h2>

<span>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</span>

<h2>E-Mailadressen und Beiträge</h2>

<span>Wenn Nutzer E-Mailadressen oder sonstige Beiträge hinterlassen, werden ihre IP-Adressen gespeichert. Das erfolgt zur Sicherheit des Anbieters, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte schreibt (Beleidigungen, verbotene politische Propaganda, etc.). In diesem Fall kann der Anbieter selbst für den Kommentar oder Beitrag belangt werden und ist daher an der Identität des Verfassers interessiert.</span>


<h2>Newsletter</h2>

Der Newsletter wird über den externen Dienstleister mailchimp.com versandt. Näheres dazu:
<ul class="links">
 	<li><a href="https://mailchimp.com/legal/privacy">mailchimp.com/legal/privacy</a></li>
</ul>
<h2>Einbindung von Diensten und Inhalten Dritter</h2>

<span>Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.</span>

<h2>Cookies</h2>

<span>Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie, um die statistische Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des Angebotes analysieren zu können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. Die meisten Browser verfügen eine Option mit der das Speichern von Cookies eingeschränkt oder komplett verhindert wird. Allerdings wird darauf hingewiesen, dass die Nutzung und insbesondere der Nutzungskomfort ohne Cookies eingeschränkt werden.</span>

Sie können viele Online-Anzeigen-Cookies von Unternehmen über die US-amerikanische Seite <a href="https://www.aboutads.info/choices/">https://www.aboutads.info/choices/</a> oder die EU-Seite <a href="https://www.youronlinechoices.com/uk/your-ad-choices/ ">https://www.youronlinechoices.com/uk/your-ad-choices/ </a> verwalten.

<h2>Registrierfunktion</h2>

<span>Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes verwendet. Die Nutzer können über angebots- oder registrierungsrelevante Informationen, wie Änderungen des Angebotsumfangs oder technische Umstände per E-Mail informiert werden. Die erhobenen Daten sind aus der Eingabemaske im Rahmen der Registrierung ersichtlich. Dazu gehören NAME, E-MAIL-ADRESSE, IP-ADRESSE UND DEREN ZWECK, ZUM BEISPIEL COMMUNITY ODER PRODUKTESTS.</span>


<h2>Google AdSense</h2>

<span >Dieses Angebot benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der Google Inc. ("Google"). Google AdSense verwendet sog. "Cookies", Textdateien, die auf dem Computer der Nutzer gespeichert werden und die eine Analyse der Benutzung der Website ermöglicht. Google AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons können Informationen wie der Besucherverkehr auf den Seiten dieses Angebots ausgewertet werden.</span>

Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website (einschließlich der IP-Adresse der Nutzer) und Auslieferung von Werbeformaten werden an einen Server von Google in den USA übertragen und dort gespeichert. Diese Informationen können von Google an Vertragspartner von Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.

Die Nutzer können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; der Anbieter weist die Nutzer jedoch darauf hin, dass sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieses Angebotes voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären die Nutzer sich mit der Bearbeitung der über sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.

<h2>Amazon Alexa Skill</h2>

Sämtliche <a href="https://internet-pr-beratung.de/amazon-echo-skill-entwicklung/referenzen/">Amazon Alexa Skills</a>, die im Namen von Zimmermanns Internet &amp; PR-Beratung veröffentlicht werden liegen in der Amazon Cloud in einem Datencenter in Irland innerhalb der EU. Die Daten werden anonymisiert und im Rahmen der Amazon Datenschutzbestimmungen, die ein jeder Nutzer separat zuvor zugestimmt hat, verarbeitet. Eventuelle Nutzungsdaten werden vom Entwickler zur Verbesserung des Angebots verwendet und nicht an Dritte weitergegeben.

<h3>Welche Daten werden erhoben und wie und warum verarbeitet?</h3>

Wir erheben und verarbeiten Ihre Daten ausschließlich zu bestimmten Zwecken. Diese können sich aus technischen Notwendigkeiten oder ausdrücklichen Nutzerwünschen ergeben.

Aus technischen Gründen müssen wir bei der Nutzung des Skills für Amazon Alexa bestimmte Daten erheben und speichern.

<h4>Diese betrifft im Einzelnen:</h4>
<ul>
    <li>Datum und Dauer der Nutzung</li>
    <li>Anfragen an den Skill</li>
    <li>Antworten des Skills (und somit beispielsweise Fehler leichter zu finden)</li>
    <li>Fehlermeldung bei der Nutzung Skills</li>
    <li>Daten, die aufgrund von ausdrücklichen Nutzerwünschen Skill gespeichert werden, sind:</li>
    <li>Funktion „E-Mail versand“ (und somit die vom Nutzer Skill hinterlegte E-Mailadresse und Kompletten Namen für die korrekte Ansprache)</li>
    <li>Geräte-Adresse, sofern der Nutzer der Übertragung der bei Amazon gespeicherten Geräte-Adresse an den Skill in der Alexa App zugestimmt hat</li>
</ul>

<h3>Konkret erfolgt die Datenverarbeitung folgendermaßen:</h3>

Nach Ihrer Aktivierung des Skills in der Alexa App können Sie Alexa den Sprachbefehl geben, eine Frage an unseren Informationsdienst oder eine sonstige Aufforderung an uns zu übermitteln. Zur Ausführung dieses Befehls wird uns Amazon die folgenden Daten weiterleiten:
<ul>
    <li>Die von Amazon Ihnen bei Aktivierung des Skills zugewiesene individuelle “UserID”</li>
    <li>Die von Ihnen in Bezug auf den Skill gestellte Frage oder Aufforderung</li>
</ul>

<p>Soweit wir eine passende Antwort auf Ihre uns übermittelte Frage oder Aufforderung haben, geben wir diese in Textform an Amazon weiter. Im Rahmen von Alexa erfolgt sodann die Umwandlung des Textes in eine akustische Sprachausgabe, die Ihnen über Ihr Alexafähiges Gerät abgespielt wird. Die Art und Weise der Verarbeitung Ihrer personenbezogenen Daten bevor eine Ihrer Fragen oder Aufforderungen von Amazon an uns übermittelt wurde, sowie nachdem wir eine entsprechende Antwort für Sie an Amazon übermittelt haben, liegt außerhalb unseres Einfluss- und Verantwortungsbereichs. Die von uns zu verantwortende Verarbeitung Ihrer personenbezogenen Daten beginnt mit dem Erhalt Ihrer personenbezogenen Daten durch Übermittlung von Amazon an uns und endet, wenn wir eine entsprechende Antwort in Textform an Amazon zur Übermittlung an Sie übergeben haben.
Die von Ihnen an uns gerichteten Fragen und Aufforderungen werden, nachdem wir eine entsprechende Antwort an Amazon übermittelt haben, anonymisiert und können Ihnen sodann nicht mehr zugeordnet werden. Ihre UserID wird für spätere Fragen oder Aufforderungen so lange gespeichert, wie der Skill in Alexa für Sie aktiviert ist.
Soweit wir in dem vorstehend beschriebenen Umfang Ihre Daten verarbeiten, sind wir hierzu gemäß Art 6 Abs. 1 lit. b) DSGVO berechtigt, da dies zur Erfüllung Ihrer Anfrage zwingend erforderlich ist.</p>

<h3>Wie lange werden die Daten gespeichert?</h3>

<p>Wir speichern Ihre Daten nur so lange, wie sie für die Erfüllung des Zwecks, zu dem sie erhoben wurden, erforderlich sind oder sofern dies gesetzlich vorgesehen ist. So speichern wir im Rahmen eines Vertragsverhältnisses Ihre Daten mindestens bis zur vollständigen Beendigung des Vertrages. Anschließend werden die Daten für die Dauer der gesetzlichen Aufbewahrungsfristen aufbewahrt. Die aus technischen Gründen (Datum und Dauer der Nutzung, Anfragen an den Skill, Fehlermeldungen) gespeicherten Daten werden nach 35 Tagen gelöscht.
Die gespeicherten Daten zu "E-Mail versand" können Sie zudem jederzeit löschen, indem Sie im Skill "Meine Daten löschen" sagen. Alternativ können Sie auch direkt "Alexa, starte Ist Ebbe oder Flut und lösche meine Daten". Ihre gespeicherten Daten werden des Weiteren gelöscht, wenn Sie den Skill deaktivieren.</p>

<h3>Welche Rechte haben Nutzerinnen und Nutzer des Skill für Amazon Alexa?</h3>
<ul>
    <li>Sie können Auskunft darüber verlangen, welche Daten über Sie gespeichert sind.</li>
    <li>Sie können Berichtigung, Löschung und Einschränkung der Bearbeitung (Sperrung) ihrer personenbezogenen Daten verlangen, solange dies gesetzlich zulässig und im Rahmen eines bestehenden Vertragsverhältnisses möglich ist.
Sie haben das Recht, Beschwerde bei einer Aufsichtsbehörde einzulegen. Die für Zimmermanns Internet &amp; PR-Beratung zuständige Aufsichtsbehörde ist: Der Sächsische Datenschutzbeauftragte, Devrienstr. 5, 01067 Dresden, E-Mail: 
saechsdsb@slt.sachsen.de</li>
    <li>Sie können der Datenverarbeitung aus Gründen, die sich aus Ihrer besonderen Situation ergeben, widersprechen, wenn die Datenverarbeitung aufgrund unserer berechtigten Interessen erfolgt.</li>
</ul>


Für die Ausübung Ihrer Rechte reicht ein Schreiben auf dem Postweg an

Zimmermanns Internet &amp; PR-Beratung
Waldheimer Str. 16a
01159 Dresden
E-Mail:  info@internet-pr-beratung.de


<h4>Aktualisierung des Datenschutzhinweises</h4>

Wir passen den Datenschutzhinweis an veränderte Funktionalitäten oder geänderte Rechtslagen an. Daher empfehlen wir, den Datenschutzhinweis in regelmäßigen Abständen zur Kenntnis zu nehmen. Sofern Ihre Einwilligung erforderlich ist oder Bestandteile des Datenschutzhinweises Regelungen des Vertragsverhältnisses mit Ihnen enthalten, erfolgen die Änderungen nur mit Ihrer Zustimmung.

Stand Juni 2020

<h2>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h2>

Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.
