<h3><i class="fas fa-book-reader"></i> E-Mailadressbuch</h3>
<div class="section">
    <p class="lead">Hinterlege Deine wichtigen E-Mailadressen</p>
</div>
<div class="divider"></div>
<div class="section">
    <ul>
        <li><a href="/auth/amazon" class="btn orange darken-1"><i class="fab fa-amazon left"></i> Log In mit Amazon</a></li>
    </ul>
    
</div>